html, body {
    scroll-behavior: smooth;
    background-color: rgb(48, 50, 59);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    display: flex;
    align-items: center;
    top: 0;
    flex: 1;
    background-color: rgb(22, 22, 22);
    position: fixed;
    width: 100vw;
    z-index: 99;
    box-sizing: border-box;
}
.navbar {
    flex: 1;
}
.fakeheader {
    position: relative;
    z-index: 98;
    
}
header h1 {
    color: #fff;
    padding: 0 10px;
    margin: 0%;
    transform: translateY(-4px);
    position: absolute;
}
header h1 a {
    text-decoration: none;
    color: #fff;
    transition: background .1s ease-out;
}
header h1 a :hover {
    background: rgb(224, 27, 27);
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}
@media only screen and (max-width: 1350px) {
    header h1 {
        position: static;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        flex-direction: column;
    }
    header, h1 {
        transform: translateY(-0);
    }
}
.menu .menu-item {
    color: #ffffff;
    display: flex;
    font-size: 18px;
    padding: 30px;
    transition: background .1s ease-out;
    justify-content: center;
}
.menu a {
    text-decoration: none;
}
.menu .menu-item:hover {
    background: rgb(224, 27, 27);
}
.mySlides {
    position: relative;
    display: block;
    height: 40vw;
    max-height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 500px;
}
.splide {
    width: 100%;
}
.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 30px;
    max-width: 80%;
}
.cont a, .cont2 a {
    text-decoration: none;
}
.box, .box1 {
    display: flex;
    background-color:  rgb(42, 43, 51);
    border: 4px solid rgb(0, 0, 0);
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    color: white;
    width: 240px;
}
.box img, .box1 img {
    margin: 0 auto;
    max-width: 220px;
    width: 100%;
}
@media only screen and (max-width: 750px) {
    .box {
        width: 80%;
    }
}
@media only screen and (max-width: 750px) {
    header:not(.fakeheader) {
        display: none;
    }
}
.pris {
    float: right;
}
footer {
    color: black;
    padding: 50px;
    background-color: rgb(27, 57, 139);
    display: flex;
    margin-top: 50px;
}
.omoss {
    max-width: 45%;
}
.text1 {
    font-size: 2rem;
    font-weight: 700;
}
.links  {
    padding-left: 15%;
    list-style: none;
}
.links1 :link{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.links1 :visited{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.links1 :hover {
    text-decoration: underline;
}
.rubrik, .rubrik2 {
    margin-top: 50px;
    margin-left: 5%;
    color: #fff;
}
@media only screen and (max-width: 750px) {
    .omoss {
        display: none;
    }
    .links {
        padding: 5%;
    }
}
.bigflex {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #fff;
}
.tipsbox {
    display: flex;
    margin-top: 30px;
    flex: wrap;
    padding: 100px 88% 100px 10%;
    overflow: auto;
}
.tipsbox a {
    text-decoration: none;
}
.cont2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30px;
}
.produktsida {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.produkt {
    max-width: 700px;
    margin: 60px;
}
.ptext {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    margin: 15px;
}
.ptext li {
    list-style: none;
}
.ptext a {
    align-self: flex-end;
}
@media only screen and (max-width: 700px) {
    .produkt {
        width: 100%;
    }
}
.button {
    text-decoration: none;
}
.button button {
    align-self: flex-end;
    background: none;
    border: 0.1em solid #FFFFFF;
    color: #fff;
    transition: all 0.2s;
    padding: 1.5em 4em;
}
.button :hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
.flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 100px 0px;
}
.flex1 input {
    margin: 10px;
    font-size: 16px;
}
.in1 {
    padding: 0px 200px 15px 0px;
}
.in2 {
    padding: 0px 200px 150px 0px;
}
.orange {
    background-color: #EF8533;
    clip-path: polygon(100% 0, 100% 81%, 0 100%, 0 17%);
}
.white {
    background-color: #EEEEC5;
    clip-path: polygon(100% 0, 100% 81%, 0 100%, 0 17%);
}
.lblue {
    background-color: #1B398B;
    clip-path: polygon(100% 0, 100% 81%, 0 100%, 0 17%);
}
@media only screen and (max-width: 1100px) {
    .orange, .white, .lblue {
        clip-path: none;
    }
}